@model ImageSharingWithModel.Models.ImageViewModel
@{
    ViewBag.Title = "Delete";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Delete", "Images", FormMethod.Post))
{
    <fieldset>
        <legend>Delete Image Information</legend>

        @Html.HiddenFor(m => m.Id)

        <p><img src="@Url.Content("~/Content/Images/img-" + @Model.Id + ".jpg")" /></p>
        <p>Image Id: @Model.Id</p>
        <p>Tag : @Model.TagName</p>
        <p>Caption: @Model.Caption</p>
        <p>Description: <br />@Model.Description</p>
        <p>Date Taken: @Model.DateTaken.ToShortDateString()</p>
        <p>Uploader: @Model.UserId</p>
        <p>
            <input type="submit" value="Confirm Deletion" />
        </p>

    </fieldset>
}

