@model ImageSharingWithModel.Models.ImageViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ImageViewModel</h4>
    <hr />
    <h2>@ViewBag.Title</h2>
    <p><img src="@Url.Content("~/Content/Images/img-" + @Model.Id + ".jpg")" style="width:60%" /></p>
    <p>Image Id: @Model.Id</p>
    <p>Tag : @Model.TagName</p>
    <p>Caption: @Model.Caption</p>
    <p>Description: <br />@Model.Description</p>
    <p>Date Taken: @Model.DateTaken.ToShortDateString()</p>
    <p>Uploader: @Model.UserId</p>
</div>