
@{
    ViewBag.Title = "Registration";
}

@{
    using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "frmRegister" }))
    {
        <fieldset>
            <legend> Provide user information</legend>
            <div>
                Enter user id of your choice: @Html.TextBox("UserId")
                @Html.ValidationMessage("UserId")
            </div>
            <br />
            <div>
                Check if visually impaired: @Html.CheckBox("ADA")
                @Html.ValidationMessage("ADA")
            </div>
            <input type="submit" value="Register" />
        </fieldset>
        @ViewBag.Message
    }
}

