@model IEnumerable<ImageSharingWithAuth.Models.Image>
@{
    ViewBag.Title = "ListAll";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>Caption</th>
        <th>Uploader</th>
        <th>Tag</th>
        <th>Actions</th>
    </tr>

    @foreach (var image in Model)
    {
        <tr>
            <td>
                @image.Caption
            </td>
            <td>
                @image.User.Userid
            </td>
            <td>
                @image.Tag.name
            </td>
            <td>

                @Html.ActionLink("Details", "Details", "Images", new { Id = image.Id }, null)
                @if (ViewBag.Userid.Equals(image.User.Userid))
                {
                    <text>
                        @Html.ActionLink("Edit", "Edit", new { Id = image.Id })
                        @Html.ActionLink("Delete", "Delete", new { Id = image.Id })
                    </text>
                }

            </td>
        </tr>
    }
</table>

